<a href="https://colab.research.google.com/github/GuardianKotarou/LearningTwo/blob/main/modulo_8_exercicios_revisado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 08** | Python: Tratamento de Erros
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Tipos de erros;</li>
  <li>Erros de sintaxe;</li>
  <li>Erros em tempo de execução.</li>
</ol>

---

# **Exercícios**

## 1\. Erros de sintaxe

Identifique o erro de sintaxe nos trechos de código abaixo e corrija-os para que o trecho de código funcione.

 - Laços de repetição.

In [2]:
credito = {'123': 750, '456': 812, '789': 980}

for chave, valor in credito.items():
  print(f'Para o documento {chave}, o valor do escore de crédito é {valor}.")

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-2-3fb55843cacf>, line 4)

In [3]:
# Solução
# Erro de sintaxe, erro na escrita, pelo que percebi, em print há uma aspa ', e outra aspa dupla "

credito = {'123': 750, '456': 812, '789': 980}

for chave, valor in credito.items():
  print(f"Para o documento {chave}, o valor do escore de crédito é {valor}.")

Para o documento 123, o valor do escore de crédito é 750.
Para o documento 456, o valor do escore de crédito é 812.
Para o documento 789, o valor do escore de crédito é 980.

 - Funções

In [6]:
def pi() --> float:
  return 3.14159265359

pi = pi()
print(pi)

SyntaxError: expected ':' (<ipython-input-6-56ff1fca92a3>, line 1)

In [7]:
# Solução
# Na parte do código -->, há dois travessão, o certo é um só

def pi() -> float:
  return 3.14159265359

pi = pi()
print(pi)

3.14159265359

- Programação Funcional

In [12]:
emails = ['andre.perez@gmail.com', 'andre.perez@live.com', 'andre.perez@yahoo.com']
provedor_da_google = lambda email: 'gmail in email

emails_google = filter(provedor_da_google, emails)
print(list(emails_google))

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-12-c33190bce3c5>, line 2)

In [13]:
# Solução
# Há uma aspa em falta na função da variável provedor_da_google

emails = ['andre.perez@gmail.com', 'andre.perez@live.com', 'andre.perez@yahoo.com']
provedor_da_google = lambda email: 'gmail' in email

emails_google = filter(provedor_da_google, emails)
print(list(emails_google))

['andre.perez@gmail.com']

- Programação orientação a objetos

In [23]:
class Pessoa(object):

  def __init__(self nome: str, idade: int, documento: str):
    self.nome = nome
    self.idade = idade
    self.documento = documento

andre = Pessoa(nome="Andre", idade=30, document="123")

SyntaxError: invalid syntax (<ipython-input-23-37cd340c5fe3>, line 3)

In [26]:
# Solução
# Há dois erros aqui, mas ele identifica apenas um
#o primeiro erro está na função no qual o (self) não está com vírgula antes do nome
#o segundo é a variável andre,havendo uma falta de um 'o' em document, devendo ser documento

class Pessoa(object):

  def __init__(self, nome: str, idade: int, documento: str):
    self.nome = nome
    self.idade = idade
    self.documento = documento

andre = Pessoa(nome="Andre", idade=30, documento="123")

---

## 2\. Erros em tempo de execução

Neste exercício vamos trabalhar com o arquivo csv com dados de crédito, definido abaixo. Execute cada uma das células de código para escrever os arquivos na sua máquina virtual.

In [27]:
%%writefile credito.csv
id_vendedor,valor_emprestimos,quantidade_emprestimos,data
104271,448.0,1,20161208
21476,826.7,3,20161208
87440,313.6,3,20161208
15980,808.0,6,20161208
215906,2212.0,5,20161208
33696,2771.3,2,20161208
33893,2240.0,3,20161208
214946,"4151.0",18,20161208
123974,2021.95,2,20161208
225870,4039.0,2,20161208

Writing credito.csv

O código abaixo deve calcular o total emprestado por cada vendedor mas está "estourando" a exceção `ValueError` devido a um erro no conjunto de dados. Utilize a estrutura `try-catch` para garantir que o código seja executado com sucesso.

**Atenção:** Você não deve alterar o arquivo de dados.

Dicas:



1.  Identique o bloco que código que pode gerar a exceção e utilize `try` e `except` de modo que a operação que pode causar o problema seja colocada dentro do bloco `try`, e o código que trata a exceção seja escrito dentro do bloco `except`.
2.   Tratar a exceção no `except`: utilize o método `replace()` para remover as aspas do conjunto de dados 'linha_elementos[1]'.

Resumo sobre o método `replace()`:

O método `replace()` é usado para substituir determinado conteúdo de uma string. Esse método recebe 2 argumentos obrigatórios: o 1º corresponde ao valor original que será substituído e o 2º corresponde ao novo valor inserido.

Na prática, o interpretador Python vai percorrer a string e, assim que encontrar o valor correspondente ao 1º argumento vai substituir o conteúdo do 1º argumento pelo conteúdo do 2º argumento.


Sintaxe:
```
replace('valor que será substituído', 'novo valor inserido')
```

Exemplo - aplicação método replace():

In [ ]:
frase2 = 'Módulos finalizados: 1, 2, 3, *4*, *5*, *6* e 7'

# Usar o replace() para trocar o caractere asterisco pelo caractere aspas na string "frase2"
print(frase2.replace('*','"'))

Módulos finalizados: 1, 2, 3, "4", "5", "6" e 7

Obs: Através do replace() para remover um caractere, o método vai substituir cada caractere por vazio.

In [59]:
def valor_total_emprestimo(valor: float, quantidade: int) -> float:
  return valor * quantidade

emprestimos = []

with open(file='./credito.csv', mode='r', encoding='utf8') as fp:
  fp.readline() # cabeçalho
  linha = fp.readline()
  while linha:
    linha_emprestimo = {}
    linha_elementos = linha.strip().split(sep=',')
    linha_emprestimo['id_vendedor'] = linha_elementos[0]
    linha_emprestimo['valor_emprestimos'] = float(linha_elementos[1])
    linha_emprestimo['quantidade_emprestimos'] = int(linha_elementos[2])
    linha_emprestimo['data'] = linha_elementos[3]
    emprestimos.append(linha_emprestimo)
    linha = fp.readline()

emprestimos_total = []
for emprestimo in emprestimos:
  valor_total = valor_total_emprestimo(valor=emprestimo['valor_emprestimos'], quantidade=emprestimo['quantidade_emprestimos'])
  emprestimos_total.append({emprestimo['id_vendedor']: valor_total})

for emprestimo_total in emprestimos_total:
  print(emprestimo_total)

ValueError: could not convert string to float: '"4151.0"'

In [61]:
#Solução
#Em cima identificamos que é na linha 13 o erro, então o try deve começar antes dela

def valor_total_emprestimo(valor: float, quantidade: int) -> float:
  return valor * quantidade

emprestimos = []

with open(file='./credito.csv', mode='r', encoding='utf8') as fp:
  fp.readline() # cabeçalho
  linha = fp.readline()
  while linha:
    linha_emprestimo = {}
    linha_elementos = linha.strip().split(sep=',')
    linha_emprestimo['id_vendedor'] = linha_elementos[0]
    try:
      linha_emprestimo['valor_emprestimos'] = float(linha_elementos[1])
    #Aqui utilizaremos o except + o erro, ele vai localizar onde está o erro, e aqui podemos colocar a solução
    except ValueError:
      linha_emprestimo['valor_emprestimos'] = float(linha_elementos[1].replace('"',''))
    #Caso algum novo erro apareça!
    except Exception as exc:
      print(f'Erro novo identificado: "{exc}"')
    linha_emprestimo['quantidade_emprestimos'] = int(linha_elementos[2])
    linha_emprestimo['data'] = linha_elementos[3]
    emprestimos.append(linha_emprestimo)
    linha = fp.readline()

emprestimos_total = []
for emprestimo in emprestimos:
  valor_total = valor_total_emprestimo(valor=emprestimo['valor_emprestimos'], quantidade=emprestimo['quantidade_emprestimos'])
  emprestimos_total.append({emprestimo['id_vendedor']: valor_total})

for emprestimo_total in emprestimos_total:
  print(emprestimo_total)

{'104271': 448.0}
{'21476': 2480.1000000000004}
{'87440': 940.8000000000001}
{'15980': 4848.0}
{'215906': 11060.0}
{'33696': 5542.6}
{'33893': 6720.0}
{'214946': 74718.0}
{'123974': 4043.9}
{'225870': 8078.0}

O resultado final deve ser a impressão da seguinte lista:

```
{'104271': 448.0}
{'21476': 2480.1000000000004}
{'87440': 940.8000000000001}
{'15980': 4848.0}
{'215906': 11060.0}
{'33696': 5542.6}
{'33893': 6720.0}
{'214946': 74718.0}
{'123974': 4043.9}
{'225870': 8078.0}
```

---